html {
    height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

a:focus, button:focus {
	outline: none;
}



/*
 *******************
   Sidebar and Nav
 *******************
*/
nav {
	background-color: #fcfcfc;
}

nav .brand-logo {
	height: inherit;
}

nav a {
	display: block;
	height: inherit;
}

nav img {
	margin-top: 4px;
	display: inline-block;
}

nav h4 {
	display: block;
	color: #333;
	margin: 0;
	font-weight: 400;
	margin-top: 14.5px;
}


ul.side-nav {
	background-color: #fcfcfc;
	color: #383838;
}

#logo-top {
	margin-top: 32px;
}

#logo-top div, #top-logo img {
	height: 125px;
	width: 125px;
	margin: auto;
}

#top-logo img:focus {
	outline: none;
}

#logo-top div {
	margin-bottom: 14px;
}

#logo-top a {
	height: initial;
	line-height: 0;
	padding: initial;
	font-size: initial;
}

#logo-top a:hover, #bottom a:hover, footer a:hover {
	background: none;
}

#logo-top h5 {
	margin: 0;
	/*font-family: 'Times New Roman', serif;*/
	font-weight: 700;
	text-align: center;
}

#bottom {
	position: absolute;
	bottom: 65px;
	width: 100%;
}

#bottom p a {
	display: inline;
}

#bottom a, #bottom p {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	line-height: 24px;
	height: auto !important;;
}

#bottom i, #bottom a {
	color: inherit;
}

#bottom a, #bottom i {
	transition: color 0.05s;
}

#bottom a:hover, #bottom a:hover i, footer a:active, footer a:active i {
	color: #ffb939;
}

#bottom i, footer i {
	float: none !important;
	width: auto !important;
	line-height: initial !important;
	margin: 0 !important;
	font-size: 12px;
	height: auto;
	display: inline !important;
}



/*
 ******************
   Main (General)
 ******************
*/
main {
	padding: 50px 0px 50px 300px;
	height: 100%;
	background: linear-gradient(#436ba0, #334e73);
}

main div#choose {
	height: 100%;
}

main div#choose div.valign button.col {
	/*font-size: 160px;
	width: 200px;
	height: 225px;*/
	text-align: center;
	border-radius: 7.5px;
	color: #333;
	background-color: #f8f8f8;
	border: none;
}

main div#choose div.valign button.col i {
	font-size: 160px;
}

main div#companies, main div#students {
	display: none;
}

/*
 ******************
   Companies Form
 ******************
*/
form {
	background-color: #fcfcfc;
	padding: 5px 15px;
	border-radius: 2px;
}

form h4, form h6 {
	margin-left: 3px;
}

form .row h6 {
	margin-left: 14px;
}

/* these selectors select the input icons, labels, and underlines */
.input-field input:focus + label, .input-field textarea:focus + label, .input-field .prefix.active, .input-field input[type=radio]:checked+label {
	color: #f3c36b !important;
}

.input-field .prefix.active svg path {
	fill: #f3c36b !important;
}

.input-field input:focus, .input-field textarea:focus {
	border-bottom: 1px solid #f3c36b !important;
	box-shadow: 0 1px 0 0 #f3c36b !important;
}

/* The following 2 rules make the radio buttons the same colour as the labels */
.input-field input[type="radio"]:checked+label:after, .input-field input[type="radio"].with-gap:checked+label:before, .input-field input[type="radio"].with-gap:checked+label:after {
	border: 2px solid #f3c36b;
}

.input-field input[type="radio"]:checked+label:after, .input-field input[type="radio"].with-gap:checked+label:after {
	background-color: #f3c36b;
}

#radio {
	/*margin-left: 25px;*/
}

/* This moves up the radio buttons, to decrease the large gap between them and the item above them. */
#radio div, #radio p {
	margin-top: 0;
}

#radio p {
	margin-left: 4px;
}

#radio label {
	margin-right: 9px;
}

/* Initialize with the decribe input hidden */
#describe {
	display: none;
}

button[type='submit'] {
	height: 44px;
	width: 61.8%;
	margin: auto;
	display: block !important;
	background: linear-gradient(to bottom right, #ecc06b, #ffb939) !important;
}



/*
 *****************
   Media Queries
 *****************
*/
footer {
	color: #383838;
	background-color: #eee;
	height: 28px;
	padding: 3px 7.5px 4px 7.5px;
}

footer .left, footer .right {
	margin: 0;
}



/*
 *****************
   Media Queries
 *****************
*/
@media screen and (max-width: 450px) {
	nav .brand-logo {
		position: relative;
		transform: none;
		left: initial;margin-left: 7px;
	}
}

/* This is when the nav reduces from 64px to 56px high */
@media screen and (max-width: 600px) {
	nav img {
		height: 50px;
		width: 50px;
		margin-top: 3px;
	}

	nav h4 {
		margin-top: 10.5px;
	}
}

@media screen and (max-width: 992px) {
	main {
		padding-left: initial;
	}
}
