body
{
	margin: 0;
	background-color: beige;
}
#Main
{
	float: right;
	clear: right;
	margin-top: 50px;
	margin-left: 20%;
	margin-right: 40%;
	color: blue;
}
input,textarea
{
	float: right;
	clear: right;
}
#BTLogo
{
	width: 150px;
	height: 150px;
	margin-top: 5%;
}
#Sidebar
{
	height: 100%;
	width: 10%;
	position: fixed;
	text-align: center;
	float: left;
	clear: left;
	margin-left: 10px;
}