body {
	margin: 0;
	background: linear-gradient(#436ba0, #334e73);
}
html {
    min-height: 100%
}

nav ul.side-nav {
	background-color: #fcfcfc;
	color: #383838;
}

#logo-top {
	margin-top: 32px;
}

#logo-top div, #top-logo img {
	height: 125px;
	width: 125px;
	margin: auto;
}

#logo-top div {
	margin-bottom: 14px;
}

#logo-top h5 {
	margin: 0;
	/*font-family: 'Times New Roman', serif;*/
	font-weight: 700;
	text-align: center;
}

main {
	margin-top: 50px;
	padding-left: 300px;
}

form {
	background-color: #fcfcfc;
	padding: 5px 15px;
	border-radius: 2px;
}

form h4, form h6 {
	margin-left: 3px;
}

form .row h6 {
	margin-left: 14px;
}

/* these selectors select the input icons, labels, and underlines */
.input-field input:focus + label, .input-field textarea:focus + label, .input-field .prefix.active, .input-field input[type=radio]:checked+label {
	color: #f3c36b !important;
}

.input-field .prefix.active svg path {
	fill: #f3c36b !important;
}

.input-field input:focus, .input-field textarea:focus {
	border-bottom: 1px solid #f3c36b !important;
	box-shadow: 0 1px 0 0 #f3c36b !important;
}


@media screen and (max-width: 992px) {
	main {
		padding-left: initial;
	}
}